main {
    flex: 1 0 auto;

    padding: 10px 7% 10px 7%;
}
.auth{
    width: 300px;
    height: 300px;
}
.sizeBlokAuth{
    width: 300px;
    height: 300px;
    background-color: #FF8A00;

    align-items: center;
    justify-content: center;
    text-align: center;
}
.posTextTrovald{
    width:35rem;
    height:10rem;
    position: absolute;
    top: 10em;
    left: 30rem;

    text-align: justify;
}
.posDialogWindow{
    width:0px;
    height:0px;
    position: absolute;
     top: 10em;
    left: 25rem;
}

.borderNone{
    border-radius: 0;
    border: none;
}

.posAuth{
    width:0px;
    height:0px;
    position: absolute;
    top: 8em;
    left: 66rem;
}

.textDiv{
    padding: 10px 12% 10px 12%;
}

.textDiv p{
    display: flex;
    text-align: justify;
}

.colorBlock{
    position:initial;
    width: 100%;
    background-color: #AB98FA;
    height: 70px;
    margin-bottom: 2em;
}

.colorOrange{
    color:#FF8A00;
}