main {
    flex: 1 0 auto;

    padding: 10px 15% 10px 15%;
}

footer {
    padding: 10px 15% 20px 15%;
}

/* TORVALD DIALOGUE */

/* TESTS LIST */

#tests-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 50px;

    transition: .3s;
}

#tests-list > div:hover {
    box-shadow: -10px 10px #AB98FA;
    transform: translate(10px, -10px);
    transition: .3s;
}

#tests > h3 {
    color: #FF9900;
    font-weight: 600;
    margin-bottom: 45px;
}

#add-test-btn {
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 8px;
}

#add-test-btn > a {
    text-decoration: none;
    color: black;
}

#add-test > p, .test-inside > p {
    margin: 0;
}

.test-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
}

.test-btn {
    background-color: transparent;
    border: 0;
}

.test-btn > a > img {
    width: 25px;
    height: 25px;
}

/* HEADER WITH TEST NAME */

#header-test {
    width: 100%;
    height: 50px;
    background-color: #AB98FA;
}

.radio-answers {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1em;
    text-align: center;
}

.input-header-test {
    background-color: transparent;
    border: 0;
    width: 30%;

    margin: 0 15% 20px 15%;

    font-size: 30px;
}

input.input-header-test::placeholder {
    color: black;
    font-size: 30px;
}

.input-question {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

input.input-question::placeholder {
    color: black;
    font-size: 20px;
}

.input-answer {
    background-color: transparent;
    border: 0;
}

input.input-answer::placeholder {
    color: black;
    font-size: 18px;
}

#save-test-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#save-test-btn {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    background-color: #FF9900;
    border: 0;
    color: white;
}

#add-question-btn {
    padding: 10px 20px 10px 20px;
    background-color: #AB98FA;
    border: 0;
    color: white;
}

.question {
    padding: 10px 0 20px 0;
}